<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Breadcrumbs test
  </h1>
</div>

<div>
  <app-breadcrumbs>
    <!--<ng-template let-item>-->
      <!--<p style="color: red">{{item.label}}</p>-->
      <!--{{item | json}}-->
    <!--</ng-template>-->
  </app-breadcrumbs>
</div>

<div>
  <input type="text" [(ngModel)]="param">
  <button (click)="toComp1()">Go to comp1 with defined matrix param</button>
</div>

<div>
  <router-outlet></router-outlet>
</div>

